[user]
	name = Alice Bevan-McGregor
	email = alice@gothcandy.com
	signingkey = 9724BD70

[credential]
	helper = osxkeychain

[push]
	default = simple

[core]
	precomposeunicode = true
	compression = 9

[alias]
	pr = !"pr() { git fetch origin pull/$1/head:pr-$1; git checkout pr-$1;  }; pr"

[color]
	grep = auto
	interactive = auto
	status = auto
	showbranch = auto
	ui = auto

[help]
	format = web
	browser = open
	autocorrect = 5

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[commit]
	gpgsign = true

[tag]
	sign = true
[gpg]
	program = gpg2
