# Vim Modules

[submodule ".vim/bundle/Apprentice"]
	path = .vim/bundle/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule ".vim/bundle/ag"]
	path = .vim/bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/ctrlp"]
	path = .vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/gundo"]
	path = .vim/bundle/gundo
	url = http://github.com/sjl/gundo.vim.git
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git


# Other Modules

[submodule ".vim/bundle/vim-git-flow-format"]
	path = .vim/bundle/vim-git-flow-format
	url = https://github.com/renyard/vim-git-flow-format.git
[submodule ".vim/bundle/vim-autoswap"]
	path = .vim/bundle/vim-autoswap
	url = https://github.com/gioele/vim-autoswap.git
[submodule ".vim/bundle/promptline"]
	path = .vim/bundle/promptline
	url = https://github.com/edkolev/promptline.vim.git
[submodule ".vim/bundle/elysian"]
	path = .vim/bundle/elysian
	url = https://github.com/nhooyr/elysian.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/tagbar"]
	path = .vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/python-mode"]
	path = .vim/bundle/python-mode
	url = https://github.com/wilywampa/python-mode.git
[submodule ".zsh/plugin/highlight"]
	path = .zsh/plugin/highlight
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".zsh/plugin/comp"]
	path = .zsh/plugin/comp
	url = git://github.com/zsh-users/zsh-completions.git
