# Ignore all non-hidden files by default.
# There are some specific cases included for completeness sake.
[a-zA-Z]+

# Mac OS X Artifacts
.DS_Store
.Trash/

# Mac OS X Home Folder Elements
Applications/
Applications\ (Parallels)/
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
My\ Games/
Pictures/
Projects/
Public/
Sites/
Transfer/
VirtualBox\ VMs/
Virtual\ Machines/

# Linux Home Folder Elements
bin/
include/
lib/
man/
share/
src/
usr/
var/
tmp/

# Shell Artifacts
.bash_*
.zsh/.zsh_history
.zsh_history
.zsh_sessions/
.ipython/
.ptpython/
.ptpython_history
.no-byobu

# UNIX-y Artifacts
.cache/
.cups/
.local/

# Package Management Artifacts
.cocoapods/
.gem/
.npm/
.python-eggs/
.tox/

# Editor Artifacts
.atom/
.nano/
.nanorc
.viminfo
.NERDTreeBookmarks

# Sensitive
.dropbox/
.gnupg/
.lesshst
.oracle_jre_usage/
.pypirc
.python_history
.pythonhist
.rnd
.slocdta/
.sqlite_history
.ssh/
.subversion/
.nano_history
.3T/
.docker/

# Gaaaaaaames!
.ftb/

# Wat?
.hushlogin

